modules = ["nodejs-20", "web"]        
run = "npm run dev"

[nix]
curl "$REPLIT_DB_URL?prefix=key"
curl -XDELETE $REPLIT_DB_URL/key
curl $REPLIT_DB_URL/key
curl $REPLIT_DB_URL -d 'key = value'
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80
